/node_modules/
/server/node_modules/
/.features-gen/
/build/
/dist/
/coverage/
/.nyc_output/
/test-results/
.DS_Store
/.docker-local/
.vscode/
/playwright-report/
/allure-results/
/megalinter-reports/
/server/reports/
/server/.stryker-tmp/
/server/allure-results/
.stryker-tmp/
/reports/
.env
server/.env
.vercel
.env*.local
